.myEvent{
  background-color: white;
  box-shadow:  5px 5px gray;
  border-radius: 10px;
  padding: 1rem;
  margin: 3px;
  box-shadow: initial;
  min-width: 20%;
  flex: 0 0 auto;
  
}
.events{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 1rem;
  padding: 1rem;
}
.eventsList{
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 1rem;
}
.eventTitle{
  margin: 1rem;
}
.createGroup{
  

}