.userName:hover{
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow:  5px 5px gray;
  padding: 5px;
  margin-bottom: 5px;
 animation-name: rotate;
 animation-duration: 2s;
}

.userName{
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightskyblue;
  box-shadow:  5px 5px gray;
  padding: 2px;
  margin-bottom: 5px;
  text-align: center;
}

