.userName:hover{
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow:  5px 5px gray;
  padding: .5rem;
  margin-bottom: 5px;
 animation-name: rotate;
 animation-duration: 2s;
}

.userName{

  border-radius: 5px;
  background-color: lightskyblue;
  box-shadow:  3px 3px gray;
  padding: .5rem;
  margin-bottom: 5px;
  margin-right: 1rem;
  text-align: center;
}
.addFriend{
  margin-left: .5rem;
  float: right;
}

