.groupchatcard{
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightskyblue;
  box-shadow:  5px 5px gray;
  padding: 2px;
  margin-bottom: 5px;
  width: 30%;
  text-align: center;
}



.groupchatcard:hover{
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow:  5px 5px gray;
  padding: 2px;
  margin-bottom: 5px;
  max-width: 30%;
 animation-name: rotate;
 animation-duration: 2s;
}
.messageCard{
  border: 1px solid black;
  padding: 2px;
  max-width: 30%;
}
.currentGroup{
  font-size: 24px;
  font-weight: bold;
}
.groupChatButtonCards{
  display: flex;
  justify-content: space-evenly;
}