.friendCard:hover{
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow:  3px 3px gray;
  padding: 5px;
  margin-bottom: 5px;
 animation-name: rotate;
 animation-duration: 2s;
}

.friendCard{
  border-radius: 5px;
  background-color: lightskyblue;
  box-shadow:  3px 3px gray;
  padding: .5rem;
  margin-bottom: 5px;
  margin-right: 1rem;
  text-align: center;
}
.unfriend{
  margin-left: .5rem;
  float: right;
}

@keyframes rotate{
  0% {
    transform: rotateZ(2deg);
    border: 1px solid blue;
    background-color: yellow;
  }
  25% {
    transform: rotateZ(-2deg);
    border: 1px solid green;
    background-color: blue;
  }
  50% {transform: rotateZ(2deg);
    border: 1px solid yellow;
    background-color: red;}
  100% {transform: rotateZ(-2deg);
  }
}

.messageCard{
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  margin: .5rem;
  
}

.allDirectChat{
  background-color: lightskyblue;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.messages{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.friendChatCard{
  border-radius: 5px;
  background-color: white;
  box-shadow:  3px 3px gray;
  padding: 2px;
  margin-bottom: 5px;
  width: 30%;
  text-align: center;
}
.FriendChatList{
  border-radius: 5px;
  background-color: lightskyblue;
  box-shadow:  5px 5px gray;
  padding: 2px;
  margin-bottom: 5px;
  text-align: center;
}