.mygroup{
  
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin: 5px;

  
}
.currentUser{
  color: blue
}
.individualUser{
  border-top: 1px solid black;

}
.groupsList{
  display: flex;
  flex-direction: column;
}
.groupsILead, .groupsImIn{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 1rem
}
.myGroupList{
 display: flex;
 flex-basis: 22%;
 justify-content: start;

}