.mygroup{
  border: 2px solid slategrey;
  border-radius: 5px;
  background-color: lightblue;
  padding: 2px;
  margin: 5px;
  max-width: 30%;
}
.currentUser{
  color: blue
}
.individualUser{
  border-top: 1px solid black;

}
.groupsList{
  display: flex;
  flex-direction: column;
}
.groupsILead, .groupsImIn{
  display: flex;
  border: 2px solid slategrey;
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
}