.mygroup{
  border: 1px solid goldenrod;
  padding: 2px;
  margin: 5px;
  max-width: 30%;
}
.currentUser{
  color: blue
}
.individualUser{
  border-top: 1px solid goldenrod
}
.groupsList{
  display: flex;
  flex-direction: column;
}
.groupsILead, .groupsImIn{
  display: flex;
}